<div class="container">
    <h2>Paillier approach</h2>
    <p>Voting simulation</p>
    <form>
        <div class="form-group">


            <textarea placeholder="num1" ng-model="num1"></textarea>
            <textarea placeholder="num2" ng-model="num2"></textarea>
            <button ng-click="paillier()">Click to send a vote</button>
        </div>

        <div ng id="paillier" style="display: none">
            <label >Random number 1 {{message.random1}}</label>
            <label >Random number 2 {{message.random2}}</label>
            <label> Message cipher 1 {{message.cipher1}}</label>
            <label> Message cipher 2 {{message.cipher2}}</label>
            <br>
            <img src="https://media.giphy.com/media/d2Z9QYzA2aidiWn6/giphy.gif">
        </div>
    </form>
</div>