#wrapper{
    height: 100%;
    color: grey;
    top: 0px;
    width: 100%;
}

#title{
    background-color: #2b542c;
    color: red;
}

#bg {
    position: fixed;
    left: 0;

    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}